
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <% if signed_in? %>
          <%= gravatar_for @user %>
          <%= @user.name %>
        <% end %>
      </h1>
    </td>
    <td class="sidebar round">
      <% if signed_in? %>
        <strong>Name</strong> <%= @user.name %><br />
        <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <% end %>
      <ul>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
      </ul>
      </td>
  </tr>
</table>